.nav-wrapper {
    position: relative;
    top:0;
    left:0;
    width:100%;
}

.nav-item .brand-logo #logo-conatiner {
   
    text-emphasis-color: lightBlue;
    text-shadow: midnightblue;
    font-size: 1.4rem;
    margin-bottom: 5rem;
}

.nav-right {
    text-align: right;
}