.nav-wrapper {
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

.nav-item {
        margin-top: 10px
}

.fa-twitter {
    color: rgb(0, 47, 255)
}

.fa-linkedin {
    color:rgb(0, 68, 255)
}

.fa-github {
    color:rgb(240, 242, 247)
}

.fa-reddit {
    color:rgb(238, 73, 8)
}